* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
}

:root {
    font-size: 62.5%;
}

body {
    background: url(./assets/bg-dark.jpg) no-repeat top center/cover;
    height: 100vh;
    padding: 4rem;
}

#container {
    border: 1px solid red;
    max-width: 58.8rem;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
}