* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
}

:root {
    font-size: 62.5%;

    --text-color: #ffffff;
    --bg-url: url(./assets/bg-dark.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
    --text-color: #000000;
    --bg-url: url(./assets/bg-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(./assets/sun.svg);
}

body {
    font-size: 1.6rem;
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;
}

body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

#container {
    width: 100%;
    max-width: 58rem;
    margin: 5.6rem auto 0;
    padding: 0 2.4rem;
}

.profile {
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid gray;
}

.profile a {
    font-weight: 500;
    line-height: 2.4rem;
    margin-top: .8rem;
    text-decoration: none;
}

#theme {
    position: relative;
    width: 6.4rem;

    margin: 0 auto;
    padding: 2rem 0;
}

#theme button {
    width: 3.2rem;
    height: 3.2rem;
    background: white var(--switch-bg-url) no-repeat center;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);

    animation: slide-back .2s;
}

.light #theme button {
    animation: slide-in .4s forwards;
}

#theme span {
    display: block;
    width: 6.4rem;
    height: 2.4rem;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

.links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    padding: 2.4rem 0;
}

.links li a {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1.6rem 2.4rem;

    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;

    transition: background .2s;
}

.links li a:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2.4rem 0;
    
    font-size: 2.4rem;
}

.social a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.6rem;
    border-radius: 50%;

    transition: background .2s;
}

.social a:hover {
    background: var(--highlight-color);
}

footer {
    padding: 2.4rem 0;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
}

@keyframes slide-in {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}

@keyframes slide-back {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}